:root {
  --primary-padding: 1rem;
  --primaryBtn-height: 1.5rem;
  --primaryBtn-width: 3rem;
  --primary-font-size: 1rem;
  --header-font-size: 1.5rem;
  --list-font-size: 0.8rem;
  --primary-color: #3f5efb;
  --secondary-color: #fc466b;
  --primary-btn-color: black;
  --secondary-btn-width: 5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {
}
