@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.layoutContainer {
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, #fc466b, #3f5efb);
  padding: 0.3rem;
}

.layout {
  background-color: black;
  height: 100%;
}

.nav {
  background-color: var(--secondary-color);
  margin: auto;
  padding: var(--primary-padding);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.nav h2 {
  color: white;
  font-size: var(--list-font-size);
  margin-bottom: 0.5rem;
}

.nav ul {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: var(--list-font-size);
}

.primaryBtn {
  border-radius: 0.75rem;
  outline: none;
  height: var(--primaryBtn-height);
  width: 100%;
  background-color: var(--secondary-color);
  color: white;
}
.secondaryBtn {
  background-color: transparent;
  color: white;
  border: 1px solid var(--secondary-color);
  border-radius: 0.75rem;
  outline: none;
  height: var(--primaryBtn-height);
  width: 100%;
  font-size: 0.8rem;
  margin-right: var(--primary-padding);
}
.homeScreen {
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homeScreenContainer {
  position: absolute;
  bottom: 0;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeScreenContainer ul {
  list-style: none;
  text-align: center;
  margin-bottom: var(--primary-padding);
}
.homeScreenContainer ul li {
  padding-bottom: 2rem;
}

/* memetag */
.memetag {
  background-color: var(--secondary-color);
  width: 25%;
  height: 2rem;
  border-radius: 0.75rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--primary-padding);
  margin-inline: 0.5rem;
}

.memetagContainer {
  display: flex;
  flex-wrap: wrap;
}
.createMeme {
  height: 100vh;
}

.formContainer {
  border: 2px solid white;
  height: 15rem;
  width: 90%;
  margin: auto;
  box-shadow: 2px 2px 2px black;
  display: flex;
  flex-direction: column;
  padding: var(--primary-padding);
}
.formContainer select {
  width: 100%;
  border-radius: 0.75rem;
  border: 1px solid black;
}

/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

/*  ? CARD  */
.cardContainer {
  position: relative;
  background-color: #222222;
  height: var(--card-dimension);
  width: var(--card-dimension);
  border-radius: 0.74rem;
  margin: 1rem 1rem;
}

.cardVideo {
  height: 12rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
}
.cardInfo {
  font-family: var(--body-font);
  font-size: 0.6rem;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
  /* word-spacing: 9px; */
  /* letter-spacing: 3px; */
}

/* welcome styles avatr */
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: var(--primary-padding);
}
.welcome img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: var(--primary-padding);
}
