@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.nav {
  background-color: black;
  width: 90%;
  margin: auto;
  padding: var(--primary-padding);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav h2 {
  color: red;
}

.nav ul {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
